In [94]:
import pandas as pd
import numpy as np
NO2_data=pd.read_csv('Winsen_NO2.csv')
Time=NO2_data['time'].to_list()
time=[]
for i in range(len(Time)):
    time.append(float(abs(Time[i])))
Time=np.array(time)
Date=pd.to_datetime(Time-719529,unit='d').round('s')
NO2_data['Date'] = Date.tolist()
NO2_data=NO2_data.set_index('Date')
NO2_data.drop('time',axis = 1, inplace = True)
NO2_data.tail()

index1=NO2_data.index.to_list()

In [95]:
O3_data=pd.read_csv('Winsen_O3.csv')
Time=O3_data['time'].to_list()
time=[]
for i in range(len(Time)):
    time.append(float(abs(Time[i])))
Time=np.array(time)
Date=pd.to_datetime(Time-719529,unit='d').round('s')
O3_data['Date'] = Date.tolist()
O3_data=O3_data.set_index('Date')
O3_data.drop('time',axis = 1, inplace = True)
O3_data.tail()
index2=O3_data.index.to_list()
index_diff=list(set(index1)&set(index2))
len(index_diff)
NO2_data=NO2_data[NO2_data.index.isin(index_diff)]
O3_data=O3_data[O3_data.index.isin(index_diff)]
NO2_data['Ref_O3']=O3_data['DLI'].to_list()
O3_data['Ref_NO2']=NO2_data['DLI'].to_list()

In [96]:
NO2_data['Month']=NO2_data.index.month
NO2_data['Day_of_week']=NO2_data.index.dayofweek
NO2_data['Day']=NO2_data.index.day
NO2_data['Hour']=NO2_data.index.hour
NO2_data=NO2_data.dropna()

In [97]:
O3_data['Month']=O3_data.index.month
O3_data['Day_of_week']=O3_data.index.dayofweek
O3_data['Day']=O3_data.index.day
O3_data['Hour']=O3_data.index.hour
O3_data=O3_data.dropna()

In [98]:
NO2_data.head()

,Concentration (ppb),Unnamed: 1,T,RH,DLI,Ref_O3,Month,Day_of_week,Day,Hour
Date,,,,,,,,,,
2019-10-02 13:00:03,13.323120,2000.0,31.15,35.27,15.201376,50.451092,10,2,2,13
2019-10-02 16:00:03,12.327343,2000.0,27.38,57.16,12.957107,38.123551,10,2,2,16
2019-10-02 16:59:57,26.489319,2000.0,26.31,58.61,18.323288,33.768998,10,2,2,16
2019-10-02 18:00:00,65.603944,2000.0,24.72,67.34,17.013020,31.920945,10,2,2,18
2019-10-02 19:00:03,65.548064,2000.0,23.60,73.64,15.687344,30.792659,10,2,2,19

In [99]:
O3_data.head()

,Concentration (ppb),Unnamed: 1,T,RH,DLI,Ref_NO2,Month,Day_of_week,Day,Hour
Date,,,,,,,,,,
2019-10-02 13:00:03,368.851562,2000.0,31.15,35.27,50.451092,15.201376,10,2,2,13
2019-10-02 16:00:03,303.401554,2000.0,27.38,57.16,38.123551,12.957107,10,2,2,16
2019-10-02 16:59:57,23.718667,2000.0,26.31,58.61,33.768998,18.323288,10,2,2,16
2019-10-02 18:00:00,11.726453,2000.0,24.72,67.34,31.920945,17.013020,10,2,2,18
2019-10-02 19:00:03,10.227772,2000.0,23.60,73.64,30.792659,15.687344,10,2,2,19

In [108]:
O3_data.tail()

,Concentration (ppb),Unnamed: 1,T,RH,DLI,Ref_NO2,Month,Day_of_week,Day,Hour
Date,,,,,,,,,,
2020-11-11 21:00:00,62.780645,2000.0,15.00,83.23,1.630323,78.186127,11,2,11,21
2020-11-11 22:00:03,52.163399,2000.0,14.45,84.15,1.810759,65.764299,11,2,11,22
2020-11-11 22:59:57,46.287582,2000.0,13.98,84.38,1.263596,55.861265,11,2,11,22
2020-11-12 00:00:00,41.986577,2000.0,13.66,84.61,0.679273,51.477190,11,3,12,0
2020-11-12 01:00:03,38.635294,2000.0,13.35,85.21,0.592840,42.180532,11,3,12,1

In [107]:
df1=[x for _, x in NO2_data.groupby('Month')]
data_oct=df1[4]
#data_oct=data_oct.sample(frac=1)
data_nov=df1[5]
#data_nov=data_nov.sample(frac=1)
data_dec=df1[6]
#data_dec=data_dec.sample(frac=1)
data_jan=df1[0]
#data_jan=data_jan.sample(frac=1)
data_feb=df1[1]
#data_feb=data_feb.sample(frac=1)
data_mar=df1[2]

data_Oct=data_oct.resample('15min').mean()
data_Oct=data_Oct.dropna()
data_Oct1=data_Oct[:int(0.8*data_Oct.shape[0])]
data_Oct2=data_Oct[int(0.8*data_Oct.shape[0]):]
data_Nov=data_nov.resample('15min').mean()
data_Nov=data_Nov.dropna()
data_Nov1=data_Nov[:int(0.8*data_Nov.shape[0])]
data_Nov2=data_Nov[int(0.8*data_Nov.shape[0]):]
data_Dec=data_dec.resample('15min').mean()
data_Dec=data_Dec.dropna()
data_Dec1=data_Dec[:int(0.8*data_Dec.shape[0])]
data_Dec2=data_Dec[int(0.8*data_Dec.shape[0]):]
data_Jan=data_jan.resample('15min').mean()
data_Jan=data_Jan.dropna()
data_Jan1=data_Jan[:int(0.8*data_Jan.shape[0])]
data_Jan2=data_Jan[int(0.8*data_Jan.shape[0]):]
data_Feb=data_feb.resample('15min').mean()
data_Feb=data_Feb.dropna()
data_Feb1=data_Feb[:int(0.8*data_Feb.shape[0])]
data_Feb2=data_Feb[int(0.8*data_Feb.shape[0]):]
data_Mar=data_mar.resample('15min').mean()
data_Mar=data_Mar.dropna()
data_Mar1=data_Mar[:int(0.8*data_Mar.shape[0])]
data_Mar2=data_Mar[int(0.8*data_Mar.shape[0]):]
frame1=[data_Oct1,data_Nov1,data_Dec1,data_Jan1,data_Feb1,data_Mar1]
frame2=[data_Oct2,data_Nov2,data_Dec2,data_Jan2,data_Feb2,data_Mar2]
NO2_data1=pd.concat(frame1)
NO2_data2=pd.concat(frame2)
NO2_data=pd.concat([NO2_data1,NO2_data2])
NO2_data.shape

IndexError: list index out of range

In [100]:
from sklearn.model_selection import train_test_split
X=O3_data[['DLI','Ref_NO2','T','RH','Month','Day_of_week','Hour']]
y=O3_data['Concentration (ppb)']
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.2,shuffle=True)
from sklearn.ensemble import RandomForestRegressor
  
 # create regressor object
regressor = RandomForestRegressor(max_features=0.5067135141693354, max_leaf_nodes=744,
                      n_estimators=236, n_jobs=-1)
  
# fit the regressor with x and y data
regressor=regressor.fit(X, y)

import sklearn.metrics as sm
from sklearn.inspection import permutation_importance
result = permutation_importance(regressor, X, y, n_repeats=40,
                                random_state=0)
features_CO=result.importances_mean
features_CO

array([0.33719765, 0.17131199, 0.94337242, 0.55490422, 0.13500024,
       0.09792846, 0.26474756])

In [101]:
X=NO2_data[['Concentration (ppb)','Ref_O3','T','RH','Month','Day_of_week','Hour']]
y=NO2_data['DLI']
X_train, X_test, y_train, y_test =train_test_split(X, y, test_size = 0.2,shuffle=True)

In [102]:
regressor =RandomForestRegressor(max_features=0.5687641759232935, max_leaf_nodes=1450,
                      n_estimators=313, n_jobs=-1)



  
# fit the regressor with x and y data
regressor=regressor.fit(X_train, y_train)

In [103]:
import sklearn.metrics as sm
pred = regressor.predict(X_test)
Pearson_lr=round(np.corrcoef(y_test, pred)[0, 1],2)
R2_rf=round(sm.r2_score(y_test, pred), 2)
R2_rf,Pearson_lr

(0.83, 0.91)

In [81]:
X.shape

(3861, 7)

In [82]:
perc_CO=np.round((features_CO/sum(features_CO))*100)
perc_CO

array([14.,  8., 37., 22.,  5.,  4., 11.])